NEXT_PUBLIC_GA_ID=G-ABC123
NEXT_PUBLIC_MAL_CLIENT_ID=malclientid123
NEXT_PUBLIC_MAL_CLIENT_SECRET=malclientsecret123
NEXT_PUBLIC_MAL_REDIRECT_URI=http://localhost:3000/auth/callback

FIREBASE_DATABASE_URL=https://akizuki-projectid123-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"project-id","private_key_id":"privatekeyid123","private_key":"-----BEGIN PRIVATE KEY-----\nprivatekey123\n-----END PRIVATE KEY-----\n","client_email":"sample@project-id.iam.gserviceaccount.com","client_id":"123","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/sample123.iam.gserviceaccount.com"}